.aboutTheProjectAndRules{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: height 2s;
}

#aboutBottom {
    background-color: grey;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: -1em;
    position: relative;
    text-align: center;
}

#aboutCover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba(118, 192, 243, 0.6);
}

img.decodemtlLogo {
    width: 9rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}


    
// .letterTriangle {
//     position: absolute;
//     top: -142%;
//     left: 0%;
//     width: 142%;
//     height: 142%;
//     background: grey;
//     box-sizing: border-box;
//     outline: none;
// }
