<a href="#"><button> Back to Main Menu </button></a>'

<h3>How long will this story be?</h3>

<form>
    <div class="row">
        <div class="small-12 columns" id="lengthOfStory">
            <label>Compulsory</label>
              <input class="length" type="radio" name="nbOfLines" value="10" id="ten"><label for="ten">10 lines</label>
              <input class="length" type="radio" name="nbOfLines" value="15" id="fifteen"><label for="fifteen">15 lines</label>
              <input class="length" type="radio" name="nbOfLines" value="20" id="twenty"><label for="twenty">20 lines</label>
        </div>
    </div>
</form>

