<a href="layout.ejs" id="bottomButtonAbout class="button radius">ABOUT & RULES</a>

<!--Button that displays the about-rules layout -->

<%var $layout = $('.aboutTheProjectAndRules');
$('#bottomButtonAbout').click(function(e){
    $layout.removeClass('hide').addClass('show animated slideInUp');
     e.preventDefault();
});

//Button that closes the about-rules layout
$('.buttonAboutClose').click(function(e){
    $layout.removeClass('show animated slideInUp').addClass('animated slideOutDown');
    setTimeout(function() {
        $layout.removeClass('animated slideOutDown').addClass('hide');
    }, 1000)
    e.preventDefault();
});%>