<a href="#"><button> Back to Main Menu </button></a>
<h2>Story # <%= storyId %> </h2>
<h3>Previous Line:</h3>
    <p> <%= previousLine %> </p>

<form>
    <div class="row">
        <div class="large-12 columns">
            <label>You are writing line <%= (lastLine + 1) %> </label>
                <input class="newLine" type="text" placeholder="Go crazy!" />
        </div>
    </div>
</form>

<button id='submit'>Submit line</button>
                        