<a href="#"><button> Back to Main Menu </button></a>


<form>
    <fieldset>
        <legend>You are continuing story # <%= storyId %></legend>
            
             <% for(var i = 0; i < storyLength; i++) {  %>
                
                <div class="row">
                    <div class="small-2 columns">
                        <label class="inline"><%= i + 1 %>.</label>
                    </div>
                    <div class="small-9 columns">
                   <% if(i === lastLine) {  %>
                        <input class="newLine" type="text" placeholder="Go crazy!" maxlength="60" />
                        <div class="small-1 columns">
                            <label id="chars" class="inline"> <%= length %></label>
                        </div>
                    <% } else if(i === lastLine - 1) { %>
                        <input class="previousLine" type="text" disabled placeholder="<%= linesOfSelectedStory[lastLine - 1].lineText %>"/>   
                    <% } else { %>
                        <input type="text" disabled/>
                    <% } %>
                    </div>
                    <!--<div class="small-2 columns">
                        <label id="chars" class="inline">60</label> 
                    </div>-->
                </div>
                    
            <% } %>

                
    </fieldset>
</form>      

<button id="submit" data-reveal-id="emptyLine thanksToSubmit">Submit line</button>
                


                        