
<div class="contain-to-grid fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="../index.html"><img src="../images/logo.png"></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
  
    <section class="top-bar-section"> 
       <!--Right Nav Section -->
      <ul class="right">
        <% if (accessToken === "-1") { %>
          <li class="active"><a href="#login">LOGIN</a></li>
          <li class="active"><a href="#register">REGISTER</a></li>
        <% } else {%>
          <li class="active"><a href="#logout">LOGOUT</a></li>
        <% } %>
      </ul>
    </section>
  </nav> 
</div>

