		<div class="aboutTheProjectAndRules hide" >
			<div id="aboutCover"></div>
				<div id="aboutBottom">
					<div id="aboutBottomContent">
						<div class="aboutColumn" id="aboutBottomContentHeader">
							<div id="aboutBottomContentTitle">ABOUT</div>
						</div>
						<div class="aboutColumn" id="aboutBottomContentBody">
						    <p>Exquisite cadaver is the final project for the 
                                <a href="http://www.decodemtl.com/web-development-full-time/">
                                <img class="decodemtlLogo" src="../images/decodemtl-logo-black.png">
                                </a>
                                web development bootcamp.
                            </p>
                        </div>
						<ul class="aboutColumn" id="aboutBottomContentCredits">
							<li class="creditsTitle">The back-end developer is: </li>
							<li><a href="http://cathe313.github.io/">Catherine Ducharme</a></li>
							<li class="creditsTitle">The front-end developper is: </li>
							<li>Marie-Eve Gauthier</li>
						</ul>
					</div>
					<div class="aboutColumn" id="rulesBottomContentHeader">
					    <div id="rulesBottomContentTitle">RULES</div>
					</div>
					<div class="aboutColumn" id="rulesBottomContentBody">
					    <p> Exquisite cadaver is a game....</p>
					    <p>There are few rules but we are stricted about it</p>
					</div>
					<div class aboutColumn id="rulesBottomContentList">
					    <ul class="aboutColumn">
					        <li>Proper Spelling</li>
					        <li>No pubs</li>
					        <li>Respectful contents</li>
					        <li>No sms language neither smileys</li>
					        <li>A lot of creativy! </li>
					    </ul>
					</div>
					    <div class="letterTriangle">
						    <a class="buttonAboutClose" href="#">X</a>
						</div>
		    </div>
		</div>