<div class="aboutTheProjectAndRules hide" >
	<div id="aboutCover"></div>
		<div id="aboutBottom">
			<div id="aboutBottomContent">
				<div class="aboutColumn" id="aboutBottomContentHeader">
					<div id="aboutBottomContentTitle">ABOUT</div>
				</div>
				<div class="aboutColumn" id="aboutBottomContentBody">
				    <p>Exquisite cadaver is the final project for the 
                        <a href="http://www.decodemtl.com/web-development-full-time/">
                        <img class="decodemtlLogo" src="../images/decodemtl-logo-black.png">
                        </a>
                        web development bootcamp.
                    </p>
                </div>
				<ul class="aboutColumn" id="aboutBottomContentCredits">
					<li class="creditsTitle">The back-end developer is: </li>
					<li><a href="http://cathe313.github.io/">Catherine Ducharme</a></li>
					<li class="creditsTitle">The front-end developper is: </li>
					<li>Marie-Eve Gauthier</li>
				</ul>
			</div>
			<div class="aboutColumn" id="rulesBottomContentHeader">
			    <div id="rulesBottomContentTitle">RULES</div>
			</div>
			<div class="aboutColumn" id="rulesBottomContentBody">
			    <p>The exquisite cadaver, also known as exquisite corpse or rotating
			    corpse, is a game in which a story is collectively written. This method of
			    storytelling comes in many flavours, and can even be applied to drawing 
			    (try it at home!). In our version, each contributor is only allowed to see
			    what the previous contributor has written.
			    The game, whose name comes from the French "cadavre exquis", was popularized
			    by the French Surrealist movement.</p><br/>
			    <p>There are few rules, but please abide by them!</p>
			</div>
			<div class aboutColumn id="rulesBottomContentList">
			    <ul class="aboutColumn no-bullet">
			        <li>Proper spelling and grammar</li>
			        <li>No publicity</li>
			        <li>No -ism: racism, sexism, ...</li>
			        <li>No texting language - and no smileys either</li>
			        <li>A lot of creativity! </li>
			    </ul>
			</div>
			    <div class="letterTriangle">
				    <a class="buttonAboutClose" href="#">X</a>
			</div>
		</div>	
    </div>
</div>