    <a href="#"><button> Back to Main Menu </button></a>
    <div class="row">
        <div class="large-6 columns">
            <div class="signup-panel">
                <p class="welcome"> Welcome Back! </p>
                <form>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="fi-mail"></i></span>
                        </div>
                        <div class="small-10  columns">
                            <input class= "email" type="text" placeholder="email">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input class="pass" type="password" placeholder="password">
                        </div>
                    </div>
                </form>
                <button class="signin">Sign in!</button>
                <p>Don't have an account? <a href="#register">Sign up here &raquo;</a></p>
                <p><a href="#password">Forgot your password?</a></p>
            </div>
        </div>
    </div>


    