<a href="#"><button> Back to Main Menu </button></a>
<div class="row">
  <div class="large-6 columns">
    <div class="signup-panel">
      <p class="welcome"> Choose your new password </p>
      <form>
        <div class="row collapse">
          <div class="small-2 columns ">
            <span class="prefix"><i class="fi-lock"></i></span>
          </div>
          <div class="small-10 columns ">
            <input class="password" type="password" placeholder="new password (min. 8 characters)">
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns ">
            <span class="prefix"><i class="fi-lock"></i></span>
          </div>
          <div class="small-10 columns ">
            <input class="confirmPassword" type="password" placeholder="confirm new password" required="" name="confirmPassword" data-invalid="">
          </div>
        </div>
      </form>
      <button class="change"> Change password </button>
    </div>
  </div>
</div>