<h4>What would you like to do now?</h4>
<a href="#continue"><button>Continue another story</button></a><br/>
<a href="#create"><button>Create a new story</button></a><br/>
<a href="#seeall"><button>Rate the other stories</button></a><br/>
<a href="#random"><button>Read a story at random</button></a><br/>