<h4>What would you like to do now?</h4>
<a class="menu" href="#continue"><button>Continue another story</button></a><br/>
<a class="menu" href="#create"><button>Create a new story</button></a><br/>
<a class="menu" href="#seeall"><button>Rate the other stories</button></a><br/>
<a class="menu" href="#random"><button>Read a story at random</button></a><br/>