    <a href="#"><button> Back to Main Menu </button></a>
    <div class="row">
        <div class="large-6 columns">
            <div class="signup-panel">
                <p class="welcome"> Forgot your password? </p>
                <p>Enter your email below: </p>
                <form>
                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="fi-mail"></i></span>
                        </div>
                        <div class="small-10  columns">
                            <input class= "email" type="text" placeholder="email">
                        </div>
                    </div>
                </form>
                <button class="reset"> Reset my password </button>
             
            </div>
        </div>
    </div>


    