<div id="registerConfirmation" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p class="lead">Welcome @<%= data.response.username %>! We sent you a confirmation link by email. Click on it to complete your registration.</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>