<a href="#"><button> Back to Main Menu </button></a>
<div class="row">
  <div class="large-6 columns">
    <div class="signup-panel">
      <p class="welcome"> Sign Up </p>
      <form>
        <div class="row collapse">
          <div class="small-2  columns">
            <span class="prefix"><i class="fi-torso-female"></i></span>
          </div>
          <div class="small-10  columns">
            <input class="user" type="text" placeholder="username">
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix"><i class="fi-mail"></i></span>
          </div>
          <div class="small-10  columns">
            <input class="email" type="text" placeholder="email">
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns ">
            <span class="prefix"><i class="fi-lock"></i></span>
          </div>
          <div class="small-10 columns ">
            <input class="password" type="password" placeholder="password">
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns ">
            <span class="prefix"><i class="fi-lock"></i></span>
          </div>
          <div class="small-10 columns ">
            <input class="confirmPassword" type="password" placeholder="confirm password" required="" name="confirmPassword" data-invalid="">
          </div>
        </div>
      </form>
      <button class="signup">Sign Up! </button>
      <p>Already have an account? <a href="./login.html">Login here &raquo</a></p>
    </div>
  </div>
</div>