<div id="registerAlreayExist" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p class="lead">Looks like someone has already registered with this username or email.</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>