<a href="#"><button> Back to Main Menu </button></a>

<h2>Story # <%= storyId  %> </h2>

<ul class="no-bullet">

    <% lines.forEach( function(line) { %>
        <li><%= line.lineText %>  <i class='grey'>@<%= line.username %></i></li>
    <% }); %>
    
</ul>

<button id="randomize">Gimme another!</button>

