<div id="voting" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Wait a minute!</h2>
    <p class="lead">You must be logged in to vote!</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>